/**=========== HEADER ==========**/
.main__header {
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
} 

.main__header-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    width:auto;
    margin: 4rem 4rem;
}

.main__header-left{
    margin-top: 3rem;
}

.main__header-left h4 {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
}

/* .main__header-left h1 {
    margin: 5rem  0 2rem 0;
    font-size: 5rem;
} */

.main__header-left p {
    margin: 0.5rem 0 2.5rem;
    font-size: 1rem;
}

.svg{
    width: 40rem;
    height: 30rem;
    object-fit: cover;
    overflow: visible;
    padding-left: 2rem;
    /* display: grid; */
}

.main__header-right {
    display: block;
    place-items: center;
    position: relative;
    float: right;
    margin-top: 3rem;
}


/**=========== SERVICES ==========**/
.services {
    margin-top: 4rem;
}

.services__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 3rem;
}

/* .services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.service__head {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service__list {
    padding: 2rem;
}

.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon{
    color: var(--color-primary);
    margin-top: 2px;
}

.service__list p {
    font-size: 0.9rem;
}
 */

/**=========== EXPERIENCES ==========**/
.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--tansition);
}

.experience__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/**=========== FAQs ==========**/
.faqs__wrapper {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;
}

.faq {
    background: var(--color-gray-500);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.faq div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq div h4 {
    font-size: 1rem;
}

.faq__icon {
    background: transparent;
    color: var(--color-gray-100);
    font-size: 1.5rem;
    cursor: pointer;
}

.faq p{
    margin-top: 1.5rem;
    font-size: 0.7rem;
}

.show__faq {
    display: flex;
    transition: var(--transition);
}
.hide__faq{
    display:  none;
    transition: var(--transition);
}


/**=========== TESTIMONIALS ==========**/
.container.testimonials__container {
    width: 40%;
    padding-bottom: 4rem;
}

.testimonials {
    border-radius: 2rem;
    background: var(--color-gray-100);
}

.client__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary);
}

.testimonial {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-bullet-clickable .swiper-pagination-bullet{
    background: var(--color-primary);
}

/* =========== MEDIA QUERIES (TABLET) ========== */
@media screen and (max-width: 1024px) {
    
    /**=========== HEADER ==========**/
    .main__header{
        height: fit-content;
        padding: 0rem 0;
    }
    .main__header-container{
        gap: 0;
    }
    .svg {
        width: var(--container-width-md);
    }


    /**=========== SERVICES ==========**/
    .services__wrapper{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .service {
        height: auto;
    }

    /**=========== EXPERIENCES ==========**/
    .experience__container{
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content{
        padding: 1rem;
    }

    /**=========== TESTIMONIALS ==========**/
    .container.testimonials__container {
        width: 60%;
    }
}

/* =========== MEDIA QUERIES (PHONES) ========== */
@media screen and (max-width: 600px) {
    .main__header-container{
        width: var(--container-width-sm);
        display: block;
        padding: 1rem;
    }

    .svg{
        display: none;
    }
    
    /**=========== SERVICES ==========**/
    .services__wrapper{
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    /**=========== EXPERIENCES ==========**/
    .experience__container{
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
    
    /**=========== TESTIMONIALS ==========**/
    .container.testimonials__container{
        width: var(--container-width-sm);
    }

    .client__review{
        width: var(--container-width-sm)
    }

    .faqs__wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}