header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    margin-bottom: 5rem;
}

.header__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
}

.header__left h1{
    margin: 5rem  0 2rem 0;
    font-Family: "Helvetica Neue",Helvetica,Arial;
    font-size: 5rem;
}

.header__left p{
    margin: 0.5rem 0 1.2rem;
}
.header__left span{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
.header__left h4{
    margin: 1rem  0 1rem 0;
}
.icons{
    margin: 20px 20px 0 0;
}

.header__right-image{
    float: right;
    width: 45%;
 }
 

 #darkGroup{
    fill: var(--dark-color);
}
#lightGroup{
    fill: var(--light-color);  
}
#dark1, 
#dark2, 
#light1{
    width:200px;
    transition: var(--transition);
}
#dark1{
    transform: translateX(-100%);
}
svg:hover #light1{
    transform: translateX(-20%);
}
svg:hover #dark2{
    transform: translateX(40%);
    opacity: 0;
}
svg:hover #dark1{
    transform: translateX(0%);
}